<div class="hall-container">
    <!-- Фоновое изображение зала -->
    <div class="hall-background"></div>

    <!-- Логотип зала в левом верхнем углу -->
    <img class="hall-logo" src="/images/literary-hall/hall-logo.png" alt="Зал литературного краеведения">
    
    <!-- Контейнер с кнопками персоналий -->
    <div class="persons-container" id="personsContainer">
        {{#each persons}}
        <button class="person-button" data-person-id="{{_id}}" data-person-name="{{fullName}}">
            <div class="person-button-bg" style="background-image: url('{{buttonImagePath}}');"></div>
            <div class="person-info">
                
            </div>
        </button>
        {{/each}}
    </div>

    <!-- Контейнер для кнопки "Назад" -->
    <div class="back-container">
        <a href="/" class="back-button">
            <img src="/images/back-button.png" alt="Назад" class="back-button-img">
        </a>
    </div>
</div>