<div class="military-hall-container">
    <!-- Фоновое изображение зала -->
    <div class="military-hall-background"></div>

    <!-- Логотип зала в левом верхнем углу -->
    <img class="military-hall-logo" src="/images/military-hall/hall-logo.png" alt="Зал военно-исторического краеведения">
    
    <!-- Контейнер с кнопками войн -->
    <div class="military-wars-container" id="militaryWarsContainer">
        {{#each wars}}
        <button class="military-war-button" data-war-id="{{_id}}" data-war-name="{{name}}" data-position="{{@index}}">
            <div class="military-war-button-bg" style="background-image: url('{{buttonImagePath}}');"></div>
        </button>
        {{/each}}
    </div>

    <!-- Контейнер для кнопки "Назад" -->
    <div class="military-back-container">
        <a href="/" class="military-back-button">
            <img src="/images/back-button.png" alt="Назад" class="military-back-button-img">
        </a>
    </div>
</div>

<script src="/js/military-hall.js"></script>